@use '@angular/material' as mat;
@use '../theme/custom-colors' as theme;
@use 'sass:map';

.orange-chip {
  @include mat.chips-overrides(
    (
      label-text-color: var(--color-orange-800),
      elevated-container-color: var(--color-orange-100),
      outline-color: var(--color-orange-100),
    )
  );
}

.blue-chip {
  @include mat.chips-overrides(
    (
      label-text-color: var(--color-blue-800),
      elevated-container-color: var(--color-blue-100),
      outline-color: var(--color-blue-100),
    )
  );
}

.success-chip {
  @include mat.chips-overrides(
    (
      label-text-color: white,
      elevated-container-color: map.get(theme.$success-palette, 40),
      outline-color: map.get(theme.$success-palette, 40),
    )
  );
}

.error-chip {
  @include mat.chips-overrides(
    (
      label-text-color: white,
      elevated-container-color: map.get(theme.$error-palette, 50),
      outline-color: map.get(theme.$error-palette, 50),
    )
  );
}

.gray-chip {
  @include mat.chips-overrides(
    (
      label-text-color: var(--color-gray-800),
      elevated-container-color: var(--color-gray-100),
    )
  );
}

.yellow-chip {
  @include mat.chips-overrides(
    (
      label-text-color: var(--color-yellow-800),
      elevated-container-color: var(--color-yellow-100),
    )
  );
}
