<mat-card>
  <mat-card-header>
    <mat-card-title>Update Information</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col mt-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Full Name</mat-label>
        <input matInput type="text" formControlName="fullName" />
        <mat-error>Full name is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Telephone</mat-label>
        <input matInput type="text" formControlName="tel" />
        <mat-error>Telephone is required</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions class="flex justify-end gap-2 p-4">
    <button
      type="submit"
      matButton="filled"
      class="btn-rounded-xl"
      (click)="onSubmit()"
      [disabled]="form.invalid || (loading$ | async)"
    >
      @if (loading$ | async) {
        Updating...
      } @else {
        Save
      }
    </button>
  </mat-card-actions>
</mat-card>
